<div class="modal fade"  id="edit-bank-details{{dt.id}}"  data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Bank Details</h6><button aria-label="Close" class="close" data-dismiss="modal" ><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="{% url 'edit-bank-details' %}" method="POST">
              {% csrf_token %}
            <div class="modal-body">
              <input type="hidden" class="form-control" value="{{request.user.id}}" name="user" id="user">
              <input type="hidden" value="{{dt.id}}" name="id"/>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Bank Name</label>
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="text" class="form-control" value="{{dt.Bank_Name}}" name="Bank_Name" id="Bank_Name" placeholder="Bank Name">
                      </div>
                    </div><!-- wd-150 -->   
                </div>
                <div class="col-md-6">
                  <label class="form-label">Holder Name</label>
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="Text" class="form-control" value="{{dt.Holder_Name}}" name="Holder_Name" id="Holder Name" placeholder="Holder Name">
                      </div>
                    </div><!-- wd-150 -->  
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label">Account Number</label>
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="number" class="form-control" value="{{dt.Account_No}}" name="Account_No" id="Account_No" placeholder="Account No">
                      </div>
                    </div><!-- wd-150 -->  
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Branch Name</label>
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="text" class="form-control" value="{{dt.Bank_Name}}" name="Branch_Location" id="Branch Location" placeholder="Branch Name">
                      </div>
                    </div><!-- wd-150 -->
                </div>
                <div class="col-md-6">
                  <label class="form-label">Bank Code (IFSC) <span class="form-help" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bank Identify Number in your Country">?</span></label> 
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="text" class="form-control" value="{{dt.IFSC}}" name="IFSC" id="IFSC" placeholder="Ifsc Code">
                      </div>
                    </div><!-- wd-150 -->
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Tax Payer Id (PAN) <span class="form-help" data-toggle="tooltip" data-placement="top" title="" data-original-title="Taxpayer Identification Number Used in your Country">?</span></label>
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="text" class="form-control" value="{{dt.PAN}}" name="PAN" id="PAN" placeholder="Pan No">
                      </div>
                    </div><!-- wd-150 -->
                </div>
                <div class="col-md-6">
                  <label class="form-label">Aadhar No <span class="form-help" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bank Identify Number in your Country">?</span></label> 
                    <div class="wd-150 mg-b-30">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div><!-- input-group-prepend -->
                        <input type="number" class="form-control" value="{{dt.Aadhar}}" name="Aadhar" id="Aadhar No" placeholder="Aadhar No">
                      </div>
                    </div><!-- wd-150 -->
                </div>
              </div>
            </div>
          </form>
            <div class="modal-footer">
              <button type="reset" class="btn btn-danger">Cancel</button>
              <button type="submit" name="submit" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</div>