{% extends '../_partials/_admin_base.html' %}
{% load static %}
{% block content %}
<!--Page header-->
<div class="page-header d-xl-flex d-block">
  <div class="page-leftheader">
    <h4 class="page-title">Email Settings</h4>
  </div>
  <div class="page-rightheader ml-md-auto">
    <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
      <div class="btn-list">
        <a href="#" class="btn btn-primary mr-3" data-toggle="modal" data-target="#adddemailmodal" data-backdrop="static" data-keyboard="false">Add Email</a>
        <button  class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
        <button  class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
        <button  class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
      </div>
    </div>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-xl-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header  border-0">
        <h4 class="card-title">Email Summary</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="hr-table">
            <thead>
              <tr>
                <th class="border-bottom-0 w-5">Name</th>
                <th class="border-bottom-0">Sender Mail</th>
                <th class="border-bottom-0">Sender Name</th>
                <th class="border-bottom-0">SMPT Host</th>
                <th class="border-bottom-0">SMPT Username</th>
                <th class="border-bottom-0">SMPT Password</th>
                <th class="border-bottom-0">SMPT Port</th>
                <th class="border-bottom-0">DEFAULT SERVER</th>
                <th class="border-bottom-0">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for email in data %}
              <tr>
                      <td>{{email.Name}}</td>
                      <td>{{email.Sender_Email}}</td>
                      <td>{{email.Sender_Name}}</td>
                      <td>{{email.SMTP_Host}}</td>
                      <td>{{email.SMTP_User}}</td>
                      <td>{{email.SMTP_Password}}</td>
                      <td>{{email.SMTP_Port}}</td>
                      <td>{{email.Default_Server}}</td>
                      <td>
                        <a class="btn btn-primary btn-icon btn-sm" data-toggle="modal" data-target="#email-edit{{email.id}}" data-backdrop="static" data-keyboard="false">
                          <i class="feather feather-edit" data-toggle="tooltip" data-original-title="Edit"></i>
                        </a>
                        <a href="/settings/email-delete/{{ email.id }}" onclick="return confirm('Are sure you want to Delete? ')" class="btn btn-danger btn-icon btn-sm" ><i class="feather feather-trash-2"></i></a>
                      </td>
                    </tr>
                    {% include '../_partials/_settings/_email-edit.html' %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row-->

{% include '../_partials/_settings/_add-email.html' %}

{% endblock %}


