{% extends '../_partials/_admin_base.html' %}
{% load static %}
{% block content %}
<!--Page header-->
<div class="page-header d-xl-flex d-block">
  <div class="page-leftheader">
    <h4 class="page-title">Settings</h4>
  </div>
  <div class="page-rightheader ml-md-auto">
    <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
      <div class="btn-list">
        <button  class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
        <button  class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
        <button  class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
      </div>
    </div>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <form  method="post" action="{% url 'localization' %}" class="card">
      {% for message in messages %}
        <p style="color:red;">{{message}}</p>
      {% endfor %}
      {% csrf_token %}
      <div class="card-header border-bottom-0">
        <h3 class="card-title">Localization</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">Default Country</label>
              {{fm.Country}}
              <span class="tx-danger" style="color:red">{{fm.errors.Country}}</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">Date Formet</label>
              {{fm.Date_Format}}
              <span class="tx-danger" style="color:red">{{fm.errors.Date_Format}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">Timezone</label>
              {{fm.Timezone}}
              <span class="tx-danger" style="color:red">{{fm.errors.Timezone}}</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">Default Language</label>
              {{fm.Language}}
              <span class="tx-danger" style="color:red">{{fm.errors.Language}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">Currency Code</label>
              {{fm.Currency_Code}}
              <span class="tx-danger" style="color:red">{{fm.errors.Currency_Code}}</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">Currency Symbol</label>
              {{fm.Currency_Symbol}}
              <span class="tx-danger" style="color:red">{{fm.errors.Currency_Symbol}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success">Save Changes</button>
        <button type="reset" class="btn btn-danger  ">Cancel</button>
      </div>
    </form>
  </div>
</div>           
						<!-- End Row-->
<!-- End Row -->
{% endblock %}